@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Comfortaa:wght@300;400;500;600;700&family=Imprima&family=Inter:wght@900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0%;
  color: white;
  background-color: black;
}

.porto {
  background-color: white;
}

.accueil {
  background-image: url(/Public/img/fond_2.png);
  background-size: 100%;
  background-color: black;
  overflow: hidden;
}

a:hover {
  font-weight: bolder;
}

.bar_menu {
  display: inline-block;
  justify-self: right;
}

.btn {
  display: flex;
  margin-left: 5%;
  margin-right: 50%;
  justify-content: space-between;
}

h1 {
  color: black;
  font-family: "Archivo Black";
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  font-size: 5vw;
}

p {
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  font-family: "Comfortaa";
}

.button_header {
  color: white;
  text-decoration: none;
  font-family: "Work Sans";
  font-weight: 300;
  font-size: 1.5vw;
}

.buttons {
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-bottom: 20%;
  margin-top: 5%;
}

.title {
  text-align: center;
  margin-top: 160px;
  color: white;
}

.present_text {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
  color: white;
}

.images {
  display: flex;
  justify-items: center;
  margin-left: 25%;
  margin-right: 25%;
  justify-content: space-between;
}

.button_header:hover {
  font-weight: 700;
}

video {
  width: 100%;
  max-width: 100vw;
  max-height: 100vh;
  opacity: 0.4;
  position: relative;
  z-index: -1;
  top: -70px;
  margin-left: 0%;
}

.header_text {
  display: grid;
  grid-template-columns: 1fr 1fr 10fr;
  text-decoration: none;
  margin-top: 1vw;
  margin-left: 3%;
}

.underline {
  position: relative;
  text-decoration: none;
  font-weight: 800;
  font-size: 1.3vw;
  color: white;
  font-family: "Comfortaa";
  margin-top: 20%;
}

.underline:hover {
  color: #4f7b92;
}

.about {
  margin-left: 33%;
  width: 50%;
}

.about > p {
  text-align: left;
  color: white;
  margin: 30px;
}

h4 {
  color: white;
  font-size: 30px;
}

#overlay {
  position: absolute;
  top: 20rem;
  text-align: center;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.573);
  color: white;
  font-size: larger;
  font-family: "Inter";
}

#overlay1 {
  position: absolute;
  top: 20rem;
  text-align: center;
  width: 42vw;
  margin-left: 8.5%;
  background-color: rgba(0, 0, 0, 0.573);
  color: white;
  font-size: larger;
  font-family: "Inter";
}

#overlay2 {
  position: absolute;
  top: 20rem;
  text-align: center;
  width: 42vw;
  margin-left: 50.5%;
  background-color: rgba(0, 0, 0, 0.573);
  color: white;
  font-size: larger;
  font-family: "Inter";
}

#overlay_menu {
  position: absolute;
  display: flex;
  top: 35rem;
  text-align: center;
  width: 100vw;
  margin: auto;
  color: white;
}
.video_editing {
  color: white;
  text-align: center;
}

h5 {
  text-align: center;
  font-size: larger;
}

.web5 {
  color: white;
  text-align: center;
  margin-top: 5%;
  text-decoration: none;
}

.web3 {
  color: white;
  text-align: center;
  margin-top: 10%;
}

.game {
  color: white;
  text-align: center;
  font-family: "Comfortaa";
  text-decoration: none;
  background-color: rgb(155, 6, 6);
  padding: 2%;
  border-radius: 25px;
  font-size: 1.5vw;
}

.game:hover {
  background-color: rgb(90, 4, 4);
}

.case {
  color: white;
  border: solid white 2px;
  font-family: "Work Sans";
  padding: 1vw;
  margin-left: 45vw;
  text-decoration: none;
  font-size: 1.5vw;
  text-align: center;
}

.case:hover {
  background-color: white;
  color: black;
}

.animation_video {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-bottom: 10%;
}

.anim > h6 {
  font-family: "Inter";
  text-align: center;
  font-size: 2vw;
  margin-top: 10%;
}

.anim > img {
  width: 70%;
}

.arrow {
  margin-top: -50px;
  justify-content: center;
  margin-bottom: 100px;
}

@keyframes play {
  from {
    background-position: 0px;
  }
  to {
    background-position: -3000px;
  }
}

#stars {
  width: 570px;
  height: 462px;
  background: url("/Public/img/soleil.png");
  background-size: cover;
  animation: play 2.5s steps(8) infinite;
}

h6 {
  text-align: center;
}

h5 {
  font-style: italic;
}

.entree > a img {
  width: 5vw;
  display: inline-block;
}

.entree > a img:hover {
  opacity: 0.9;
}

.under {
  display: flex;
  margin-left: 80%;
  margin-right: 7%;
}

.hr11 {
  width: 5%;
  height: 10px;
  background-color: #4f7b92;
  border: solid #4f7b92;
  border-radius: 30px;
  margin-left: 5%;
  margin-top: -2%;
}

.name > h2 {
  color: #4f7b92;
  text-align: center;
  margin-top: 3vw;
  font-weight: bolder;
  font-family: "Archivo Black";
  font-size: 2vw;
}

.layer1 {
  width: 150px;
  height: 10px;
  background-color: #f6c553;
  margin-left: 10%;
}

.ytb {
  margin-top: 2%;
  margin-left: 25%;
}

.ytb > p {
  margin-right: 23%;
  margin-bottom: 10%;
}

.ytb > h1 {
  color: white;
  font-family: "Inter";
  font-size: 150%;
  margin-top: 5%;
  margin-right: 23%;
}

.shot > h1 {
  color: white;
  font-size: small;
  font-weight: lighter;
  text-align: center;
  text-transform: lowercase;
  margin-top: 5%;
  margin-left: 25%;
  margin-right: 18%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", va, Verdana, sans-serif;
}

.socialmedia {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10vw;
}

.moodboard {
  width: 50vw;
  margin-left: 25vw;
}

.globale_anim {
  width: 70%;
}

.anim > h6 {
  font-size: 17px;
  margin-left: 5%;
  margin-top: 17%;
  text-align: end;
  margin-right: -450px;
  font-weight: lighter;
}

.entete {
  background-image: url(/Public/img/IMG_3569\ 1.png);
  background-size: 100%;
  padding-bottom: 50vw;
  overflow: hidden;
}

.entete > a {
  margin-top: 8%;
  font-size: 1.2vw;
  border-radius: 90px;
  border: 1px solid white;
  padding: 15px;
  margin-left: 47%;
  text-decoration: none;
  color: white;
  font-family: "Work Sans";
}

.entete > a:hover {
  background-color: rgba(0, 0, 0, 0.293);
  font-weight: bolder;
}

.bruce {
  position: absolute;
  top: 32rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  text-transform: uppercase;
}

.loop {
  text-decoration: none;
  font-weight: 400;
  color: white;
  font-family: "Work Sans";
  background-color: #4f7b92;
  padding: 1vw;
  width: 12.3vw;
  text-align: center;
}

.elevator {
  width: 30%;
  margin-top: 7%;
  margin-left: 14%;
}

.exos {
  display: flex;
}

.montage {
  opacity: 100%;
  margin-top: 3%;
  margin-left: 10%;
}

.montage > p {
  opacity: 100%;
  margin-top: -30%;
  margin-left: 40%;
  margin-right: 10%;
}

/* about */

.general_infos {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  margin-left: 10vw;
}

.general_infos > img {
  width: 25vw;
  margin-top: 6%;
}

.salut > p {
  text-align: left;
  font-family: "Work Sans";
  color: rgb(47, 47, 47);
  margin-right: 25%;
}

.salut > h2 {
  text-align: left;
  color: rgb(47, 47, 47);
  font-family: "Archivo Black";
  font-weight: bolder;
  margin-right: 30%;
  font-size: 8vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.salut > h3 {
  text-align: left;
  color: rgb(47, 47, 47);
  font-family: "Archivo Black";
  font-weight: bolder;
  margin-right: 30%;
  font-size: 3vw;
  margin-top: 0%;
}

/* Fin about */

.project1 > p {
  text-align: left;
  margin-left: 9.5%;
  font-family: "Work Sans";
  color: rgb(47, 47, 47);
  margin-bottom: 4%;
  font-size: 1.2vw;
  margin-right: 8%;
}

.project1 > h1 {
  text-align: left;
  margin-left: 9%;
  font-size: 6vw;
  color: white;
  font-family: "Archivo Black";
  font-weight: lighter;
  color: rgb(47, 47, 47);
  margin-top: 0%;
  margin-bottom: 1%;
}

.project1 > hr {
  margin-left: 9.5%;
  background-color: rgb(47, 47, 47);
  border: transparent;
  border-radius: 50px;
  height: 20px;
  width: 10%;
  margin-top: 0%;
  margin-bottom: 4%;
}

.project1 > p a {
  text-decoration: none;
  color: rgb(47, 47, 47);
  font-weight: 700;
  font-size: 1.5vw;
}

.others {
  width: 25%;
  display: flex;
  opacity: 0.3;
  margin-left: 5%;
  margin-bottom: 5%;
  margin-top: 2%;
}

.others > img {
  padding: 1%;
}

.arrow {
  width: 150px;
  margin-left: 48%;
  margin-top: 5%;
  margin-bottom: 0%;
  animation: bounce 0.8s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, 8, 0.5);
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 20px, 0);
  }
}

.contact > textarea {
  background-color: transparent;
  margin-left: 31%;
  color: rgb(178, 178, 178);
  font-family: "Roboto";
}

.mood > img {
  width: 90%;
  margin-left: 10%;
  margin-bottom: 20%;
}

.bleu {
  background-size: 100%;
  height: 1400px;
  background-color: #3d3bb0;
  overflow: hidden;
}

.copyright > p {
  text-align: center;
  margin-top: 16%;
}

.tictac_bg {
  background-color: #3d3bb0;
  padding: 17%;
}

.layer5 {
  height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 50%;
}

.layer6 {
  height: 100px;
  width: 100px;
  background-color: #ece077;
  border-radius: 50%;
  margin-left: 120%;
}

.layer7 {
  height: 100px;
  width: 100px;
  background-color: black;
  border-radius: 50%;
  margin-left: 120%;
}

.color_palette {
  margin-left: 39%;
  margin-top: -14%;
}

.color_palette > p {
  margin-left: -60%;
  font-family: "Titan One";
  font-size: larger;
}

.fonts > h2 {
  font-size: 450%;
  text-align: center;
  font-family: "Fredoka One";
  margin-top: 0%;
}

.fonts > h4 {
  font-size: 250%;
  text-align: center;
  font-family: "Inter";
  font-weight: 300;
  margin-bottom: 20%;
  margin-top: -3%;
}

.fonts > p {
  margin-left: 1%;
  margin-top: -17%;
  font-family: "Titan One";
  font-size: larger;
}

.mood > button {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  border-color: #eee064;
  padding: 1.5%;
  width: 130%;
  height: 70px;
}

.mood > button:hover {
  background-color: rgba(213, 213, 213, 0.18);
}

.mood > p {
  margin-left: 1%;
  margin-top: 65%;
  font-family: "Titan One";
  font-size: larger;
}

.mood > h1 {
  color: #eee064;
  font-family: "Inter";
  text-align: center;
  margin-top: 10%;
  font-size: 300%;
  margin-left: -200%;
  animation: bounce 0.8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 10px, 0);
  }
}

.mood > hr {
  width: 650px;
  margin-left: -80%;
  height: 3px;
  background-color: white;
}

.bouton_noir {
  background-color: black;
  border-radius: 50px;
  padding: 1.5%;
  width: 150%;
  height: 60px;
  margin-top: 10%;
  margin-left: 15%;
}

.bleu > h6 {
  margin-top: -22%;
  margin-bottom: 20%;
  text-align: left;
  margin-left: 5%;
  font-size: 150%;
  text-transform: uppercase;
}

.layer8 {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 200px;
  padding: 1.5%;
  width: 300%;
  height: 300px;
  margin-bottom: 500%;
  margin-top: 35%;
  margin-left: -145%;
}

.mood > h3 {
  font-family: "Inter";
  font-size: 500%;
  margin-bottom: -150%;
}

/* Contact page */

.reseaux > a {
  font-size: 1.3vw;
  font-family: "Work Sans";
  color: rgb(47, 47, 47);
  text-align: left;
  margin-left: 9vw;
  margin-top: 1vw;
  text-decoration: none;
}

.reseaux > p {
  position: absolute;
  font-size: 5vw;
  font-family: "Work Sans";
  color: rgb(47, 47, 47);
}

.select {
  opacity: 0.6;
}

.reseaux {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin-top: 10vw;
}

/* Fin contact page */

.client > svg {
  margin-top: -30%;
  margin-left: -4%;
  width: 100%;
}

/* Images grid */

.head {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.image-grid > a img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.image-grid > a img:hover {
  width: 102%;
}

.image-grid {
  margin-left: 10%;
  margin-right: 10%;
  --gap: 20px;
  --num-cols: 3;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}

.image-grid > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.image-grid-col-2 {
  grid-column: span 2;
}

.image-grid-row-2 {
  grid-row: span 2;
}

/* Anything udner 1024px */
@media screen and (max-width: 1024px) {
  .image-grid {
    --num-cols: 2;
    --row-height: 200px;
  }
}

/* Fin images grid */

/* slider autres projets 

.custom-slider {
  display: none;
}
.slide-container {
  max-width: 60%;
  min-width: 20%;
  position: relative;
  margin-top: 2%;
  margin-left: 20vw;
  margin-bottom: 5%;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 57%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(47, 47, 47);
  font-size: 3vw;
  transition: background-color 0s ease;
}
.prev {
  left: -50px;
}
.next {
  right: -55px;
}
.prev:hover,
.next:hover {
  color: rgb(47, 47, 47);
  color: #4f7b92;
}

.slide-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

*/

.back {
  margin-left: 3%;
}

.game_design > img {
  width: 100%;
  margin-top: 7%;
}

/* Menu responsive */

nav .main_pages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 75%;
  position: absolute;
  margin-top: -5%;
}

nav .main_pages a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 130%;
  text-decoration: none;
  font-family: "Work Sans";
  color: rgb(47, 47, 47);
}

nav a:hover {
  font-weight: bolder;
}

label {
  display: none;
}

label,
#toggle {
  display: none;
}

@media all and (max-width: 980px) {
  nav {
    height: 60px;
  }

  nav .main_pages {
    display: none;
    background-color: rgba(0, 0, 0, 0.953);
    width: 100vw;
    margin-left: 0%;
    margin-top: 1%;
    position: absolute;
    height: 20vw;
  }

  nav .main_pages a {
    color: white;
    font-size: 2.5vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 12vw;
  }

  label {
    display: grid;
    font-size: 7vw;
    color: rgb(47, 47, 47);
    cursor: pointer;
    margin-left: 85%;
    margin-top: -8%;
  }

  #toggle:checked + .main_pages {
    display: flex;
  }
}

/*

.fond-blanc {
  background-image: url(/Public/img/font-formes.png);
  width: 50vw;
  border-radius: 25px;
  padding: 6vw;
}

*/

.reseaux > p {
  animation: hithere 1s ease infinite;
  position: absolute;
  margin-left: 10vw;
  margin-top: 25%;
}
@keyframes hithere {
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.web {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.image-grand {
  width: 100%;
}

.presentation {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.image-citadelle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.image-citadelle > img {
  width: 100%;
}

.image-onf {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.image-onf > img {
  width: 100%;
}

.image-velopole {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.image-velopole > img {
  width: 100%;
}

.image-card {
  width: 80%;
  margin-left: 10vw;
}

/* Autres projets */

.autres-projets {
  width: 10%;
  text-decoration: none;
  color: rgb(47, 47, 47);
}

.autres-projets:hover {
  color: #4f7b92;
}

.caroussel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 30vw;
  padding: 2%;
}
